<%= turbo_frame_tag "modal" do %>
  <%= render TurboModalComponent.new do %>
    <%= tag.div data: { controller: "turbo-modal" }, style: "padding: 30px;" do %>
      <div class="modal">
        <div class="container-modal"> 
            <div class="modal-form">
              <div class="title">
                <h1>Crear Estudiante</h1>
              </div>
              <%= render "new_student_form", student: @student %>
            </div>
        </div> 
      </div>
    <% end %>
  <% end %>
<% end %>