
<div class= "header">

    <div class= "sesion-header">
        <%= link_to "sesion", log_in_path() %>
    </div>


    <div class= "registro-header">
        <%=link_to "Registro", new_user_path() %>
    </div>

</div>