<div class="container"> 
  <%= render "header" %>
  <div class="container-new">
    <div class = "image">
      <%= image_tag 'Frame.jpg' %>
    </div>
    <div class = "register-form">
      <div class="title">
        <h1>Registro</h1>
      </div>
      <%= render "form", user: @user %>
    </div>
  </div>
</div>