<div class="container">
	<%= render "users/partials/header" %>
	<div class="container-log-in">
		<div class="image">
			<%= image_tag 'Frame.jpg' %>
		</div>
		<%= render "users/partials/log_in", flash: flash %>
	</div>
</div>

