<%= render "header" %>


<div class="form"> 
    <div>
        <%= image_tag 'Frame.jpg' %>
    </div>
    <div>
        <h1 class="title_register" >Registro</h1>
        <%= render "form", user: @user %>

    </div>
</div> 

