<div class="container-father"> 
    <%= render "header" %>
    <div class="container">
        <div>
            <%= image_tag 'Frame.jpg' %>
        </div>
        <div>
            <h1 class="title_register" >Registro</h1>
            <%= render "form", user: @user %>
        </div>
    </div>
</div> 

