<div class="container"> 
    <%= render "header" %>
    <div class="container-new">
        <div class = "image">
            <%= image_tag 'Frame.jpg' %>
        </div>
        <div class = "register-form">
            <h1>Registro</h1>
            <%= render "form", user: @user %>
        </div>
    </div>
</div> 

