<h1>Home#index</h1>
<h2>Tardes de barrio </h2>
<p>Este es el home de prueba </p>


<%= button_to 'registro', new_user_path(), method: :get %>
<%= button_to 'sision', log_in_path(), method: :get %>
<%= image_tag 'logo.jpg' %>




