/*
 *= require_tree .
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap%27");
 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");
 @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  /*outline: 1px solid green;*/
}

.container a:visited {
  color: inherit;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  /*overflow-x:hidden;
  overflow-y:hidden;*/
  background-color: #0090af ;
}

.show-container a:visited {
  color: inherit;
}

textarea {
  resize: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 60%;
  height: 80%;
  padding-bottom: 20px;
  margin: 5% auto;
  align-items: center;
  background: #ffffff;
  box-shadow: -0.4375rem 0.4375rem 1.875rem rgba(0, 76, 92, 0.2);
  border-radius: 0.5rem;
}

.title h1 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 1rem;
  font-size: x-large;
}

.google-logo {
  vertical-align: middle;
}

.logout-link {
  float: right;
}

.active {
  color: #0090af;
}

.disabled {
  display: none;
}

.modal-title h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  margin: auto;
  padding: 20px;
  color: white;
}
.modal-title {
  background-color: #0090af;
  width: 100%;
  margin-top: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
