/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container a:visited {
  color: inherit;
}

body {
  background: #0090af;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  height: 100vh;
}

.show-container a:visited {
  color: inherit;
}

textarea {
  resize: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 70%;
  padding-bottom: 20px;
  margin: 5% auto;
  align-items: center;
  background: #ffffff;
  box-shadow: -0.4375rem 0.4375rem 1.875rem rgba(0, 76, 92, 0.2);
  border-radius: 0.5rem;
}

.title h1 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 2rem;
}

.google-logo {
  vertical-align: middle;
}

.logout-link {
  float: right;
}

.active {
  color: #0090af;
}

.disabled {
  display: none;
}

.modal-title h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  margin: auto;
  padding: 20px;
  color: white;
}
.modal-title {
  background-color: #0090af;
  width: 100%;
  margin-top: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
