/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*** REGISTRO ***/

 *{
    font-family: 'Roboto';
    font-style: normal;
 }

 body{
    background: #0090AF;
 }
 ._form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.9375rem;
 }

 .submit-button, .button_to button{
    background: white;
    border-radius: 0.2159rem;
    width: 14.5694rem;
    height: 2.5rem;
    left: 51.4931rem;
    top: 37.6875rem;
    border-style: 0.125rem solid;
    border-color: #0090AF;
    box-shadow: none;
 }

 .submit-button:hover, .button_to button:hover{
    background:#0090AF;
    color: white;
 }
.form_register, .image, ._form{
    width: 40%;
}
.image{
    margin: auto;
}
.header{
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    border-bottom: 0.0625rem solid #BEC2C4;
}

.header .session-button a, .header .register-button a {
    text-decoration: none;
    color: black;
}

.header .session-button :hover, .header .register-button :hover {
    border-bottom: 0.0625rem solid #0090AF;
    color: #0090AF;
} /* ARREGLAR LINEAS */

.session-button{
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.8125rem;
    /* or 163% */

    text-align: center;

    color: #000000;
}
.register-button{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.8125rem;
    /* or 163% */
    text-align: center;
    color: #0090AF;
    border-width: 0.125rem;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-father{
    width: 80%;
    height: 80vh;
    margin: 5% auto;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -0.4375rem 0.4375rem 1.875rem rgba(0, 76, 92, 0.2);
    border-radius: 0.5rem;
}


/*** LOGIN ***/

.log_in_form{
    display:flex;
    flex-direction: column;
}

.forgot_password a{
    text-decoration: none;
    color: #0090AF;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.8125rem;
}