.login-header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  border-bottom: 0.0625rem solid #bec2c4;
  gap: 60px;
}

.header-logged {
  justify-content: flex-end;
}
