.header {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid #BEC2C4;
}

.header-link a {
	text-decoration: none;
	color: black;
}

.header-link {
	font-weight: 300;
	font-size: 18px;
	line-height: 29px;
	/* or 163% */
	text-align: center;
	color: #000000;
}

.header-link:hover{
	border-bottom: 1px solid #0090AF;
	color: #0090AF;
}
/* ARREGLAR LINEAS */