.container-log-in{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.log-in-form {
	width: 50%;
}

.log-in-form [type='submit']{
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.8125rem;
	/* or 163% */
	text-align: center;
	color: #0090AF;
	border-width: 0.125rem;
}

.log-in-form form{
	width: 40%;
	display: flex;
	flex-direction: column;
	gap:0.9375rem;
}

.log-in-form input{
	width: 25rem;
	height: 2rem;
}

.log-in-form input[type='checkbox']{
	width: auto;
	height: 1rem;
}

.log-in-form input[type='submit']{
	width: 15em;
	gap: 2em;
}

.log-in-form [type='submit'],
.button_to button {
	text-align: center;
	background: white;
	border-radius: 0.2159rem;
	width: 15rem;
	height: 2rem;
	border-style: 0.125rem solid;
	border-color: #0090AF;
	box-shadow: none;
}

.log-in-form [type='submit']:hover,
.button_to button:hover {
	background: #0090AF;
	color: white;
}

.forgot_password a {
	text-decoration: none;
	color: #0090AF;
	font-weight: 500;
	font-size: 0.8125rem;
	line-height: 1.8125rem;
	text-align: center;
}

