.show-header a:visited {
  color: black;
}

.show-container {
  display: flex;
  background-color: white;
  font-size: 0.75rem;
  color: #474747;
  min-height: 100%;
  padding-top: 50px;
}
.user-container {
  display: flex;
  flex-direction: column;
  padding: 3% 1.875rem;
  gap: 1.875rem;
  max-width: 20%;
  min-height: 90%;
  border-right: 0.0625rem solid #dadada;
}

.user-container h1 {
  margin-top: 1.875rem;
}

.show-header {
  display: flex;
  gap: 0.9375rem;
}

.light-blue-color {
  color: #0090af;
}

.student-data div {
  margin: 1.25rem 0;
}

.student-data div h3 {
  margin-bottom: 0.3125rem;
}

.comments-container {
  width: 80%;
}

.comment-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-top: 3%;
}

.comment-input-section label {
  font-weight: bold;
  font-size: 1.25rem;
}

.comment-input-section textarea {
  width: 90%;
  height: 8rem;
  border: none;
  background-color: #f1f3f4;
  border-radius: 0.9375rem;
  padding: 1.25rem;
}

.comment-input-section textarea:focus-visible {
  border: 0.125rem solid #0090af;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 0.625rem;
}

.comment-header{
  display: flex;
  justify-content: space-between;
}

.coment-header-left, .coment-header-right{
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}
.comment-username, .subcomment-username {
  margin-bottom: 0.3125rem;
  color: #0090af;
  font-weight: bold;
  font-size: 0.9375rem;
}
.comment-hour, .subcomment-hour  {
  margin-bottom: 0.3125rem;
  color: black;
  font-weight: solid;
  font-size: 0.75rem;
}

.comment-input-section .login-button {
  width: 13%;
  margin-right: 5%;
}

.hr-style {
  border: 0.0625rem solid #dadada;
  margin-top: 0.625rem;
}

.sub-comment-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-comment{
  width: 90%;
  margin-top: 0.625rem;

}

.subcomment-header{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
}

.form-subcomment{
  position: relative;
  display: flex;
  margin-top: 1rem;
}

.form-subcomment textarea {
  width: 100%;
  border: none;
  background-color: #f1f3f4;
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 0.5rem;
}

.form-subcomment-button {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  cursor: pointer;
}

.likes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0.9375rem;
  margin-right: 2rem;
}

.summary-btn-comment{
  position: absolute;
  right: 1rem;
  top:1.5rem;
}

summary::after {
  background-image: url('assets/chevron-up.svg');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: '';
}

details[open] summary::after {
  background-image: url('assets/chevron-down.svg');
}

summary::-webkit-details-marker {
  display: none; 
}

details > summary {
  list-style: none;
}

.my-picker-comment{
  z-index: 1;
  position: relative;
}