
.users-table{
  /*border: 0.0625rem solid #DADADA; */
  border-radius: 0.5rem;
  margin: 0.625rem;
  padding: 1.25rem;
  width: 80%;
  text-align: center;;
}

table{
  width: 100%;
}
tr{
  border: 2px solid black;
}
th, td {
  box-sizing: border-box;
  border-bottom: 2px solid #DADADA ;
  height: 2.5rem;
}

.container-list{
  gap:0.625rem;
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagy{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.9375rem;
}